name = "claude-rr7-starterkit"
main = "./workers/app.ts"
compatibility_date = "2025-04-04"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[env.production]

[env.staging]

upload_source_maps = true

[assets]
directory = "./public/"
binding = "ASSETS"
