name = "claude-rr7-starterkit"
main = "./workers/app.ts"
compatibility_date = "2025-04-04"
compatibility_flags = ["nodejs_compat"]

[observability]
enabled = true

[env.production]
name = "claude-rr7-starterkit-production"

[env.staging]
name = "claude-rr7-starterkit-staging"

[upload_source_maps]
enabled = true

[assets]
directory = "./public/"
binding = "ASSETS"
